<article class="feed {{visibility}} {{post_class}}">

  <div class="feed-content">
    <h2 class="feed-title">{{title}}</h2>
    <div class="feed-description">
      {{excerpt}}
    </div>
  </div>

  <div class="feed-metadata">
    <div class="feed-date">{{date published_at format="MMM D, YYYY"}}</div>
    <div class="feed-reading-time">{{reading_time}}</div>
  </div>

  <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>

</article>